* {
    margin: 0;
    padding: 0;
    border: none;
}

html {
    background-color: #f2f8fc;
}

header {
    height: 10%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(
      1px 2px 2px rgb(197, 197, 197)
    );
}

.innerHeader {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menuItems {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.button {
    background-color: white;
    filter: drop-shadow(
      1px 2px 2px rgb(197, 197, 197)
    );
    width: fit-content;
    height: fit-content;

    /* Fix static values here */
    border-radius: 36px;
    margin-left: 15px;
    padding: min(0.8em, 15px) min(1em, 20px);

    text-align: center;
    font-size: 0.85rem;
    align-content: center;
    text-decoration: none;
    color: #040f11;
}

.menuItems> .button:last-child {
    background-color: #70cbff;
}

.centerContent {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.centerContent > h1 {
    margin-bottom: 20px;
    font-size: clamp(1.4rem, 3vw, 3.8rem);
}

.centerContent > div {
    margin-bottom: 20px;
}

.centerContent > a {
    font-size: 20px;
    background-color: #70cbff;
}


.image {
    width: 800px;
    height: 450px;
    background-color: #fff;
    text-align: center;
    align-content: center;
}