<?xml version="1.0" encoding="UTF-8"?>

<web-app
    xmlns="http://xmlns.jcp.org/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
    version="3.1"
>
    <servlet>
        <servlet-name>DBConnection</servlet-name>
        <servlet-class>iotbay.helper.DBConnection</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>DBConnection</servlet-name>
        <url-pattern>/servlet/dbConnection</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CartInitialiser</servlet-name>
        <servlet-class>iotbay.helper.CartInitialiser</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>CartInitialiser</servlet-name>
        <url-pattern>/servlet/CartInitialiser</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>iotbay.controller.CartController</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/servlet/cart</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>iotbay.controller.LoginController</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/servlet/login</url-pattern>
    </servlet-mapping>
   <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>iotbay.controller.RegisterController</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/servlet/register</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ManageProductsController</servlet-name>
        <servlet-class>iotbay.controller.ManageProductsController</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageProductsController</servlet-name>
        <url-pattern>/servlet/manageProducts</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProductDetailsController</servlet-name>
        <servlet-class>iotbay.controller.ProductDetailsController</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductDetailsController</servlet-name>
        <url-pattern>/servlet/productDetails</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ManageAccountController</servlet-name>
        <servlet-class>iotbay.controller.ManageAccountController</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageAccountController</servlet-name>
        <url-pattern>/servlet/manageAccount</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BrowseProductsController</servlet-name>
        <servlet-class>iotbay.controller.BrowseProductsController</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>BrowseProductsController</servlet-name>
        <url-pattern>/servlet/browseProducts</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ManageOrdersController</servlet-name>
        <servlet-class>iotbay.controller.ManageOrdersController</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageOrdersController</servlet-name>
        <url-pattern>/servlet/manageOrders</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>OrderDetailsController</servlet-name>
        <servlet-class>iotbay.controller.OrderDetailsController</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrderDetailsController</servlet-name>
        <url-pattern>/servlet/orderDetails</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PlaceOrderController</servlet-name>
        <servlet-class>iotbay.controller.PlaceOrderController</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>PlaceOrderController</servlet-name>
        <url-pattern>/servlet/placeOrder</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SearchProductsController</servlet-name>
        <servlet-class>iotbay.controller.SearchProductsController</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchProductsController</servlet-name>
        <url-pattern>/servlet/searchProducts</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>
</web-app>
